---
import type { Props } from '@astrojs/starlight/props';
import { Card, LinkCard } from "@astrojs/starlight/components";
import type { Block } from "../content/config";
import { headingToSlug } from "../content/loaders/kirby/generateToC";

const { blocks }: {blocks: Block[]} = Astro.props.entry.data;
---

{
	blocks ? blocks.map((block) => {
		switch (block.type) {
			case 'heading':
				switch (block.content.level) {
					case "h1":
						return <h1 id={headingToSlug(block.content.text)}>{block.content.text}</h1>
					case "h2":
						return <h2 id={headingToSlug(block.content.text)}>{block.content.text}</h2>
					case "h3":
						return <h3 id={headingToSlug(block.content.text)}>{block.content.text}</h3>
					case "h4":
						return <h4 id={headingToSlug(block.content.text)}>{block.content.text}</h4>
					default:
						return <h1 id={headingToSlug(block.content.text)}>{block.content.text}</h1>
				}
			case 'card':
				return <Card title={block.content.title} icon={block.content.icon}>{block.content.content}</Card>
			case 'link-card':
				const href = block.content.type === 'internal' ? `/${block.content.url[0]}` : block.content.href;
				return <LinkCard title={block.content.title} href={href} description={block.content.description} target={block.content.type === 'internal' ? "_self" : "_blank"} />
			case 'image':
				return <p>TODO: Image Component</p>
			case "text":
				return <div set:html={block.content.text} />
			default:
				return JSON.stringify(block);
		}
	}) : <p>No content</p>
}
